<header class="header">
  <img src="../../../assets/logo.svg" alt="logo" />
  <form class="youtube-form-field">
    <input
      class="search-text"
      name="searchInput"
      type="text"
      placeholder="What do you want to find out?"
      [(ngModel)]="inputText"
    />
    <button mat-raised-button type="submit" (click)="setSearchRequest()">
      <span>search</span>
    </button>
  </form>
  <button mat-raised-button class="options" (click)="toggleFilterBlock()">
    <img src="../../../../assets/search-options.svg" alt="options" />
  </button>
  <!-- <app-login></app-login>
  <app-filter
    *ngIf=(isFilters)
    (sortOptions)="getSortOptions($event)"
    (filterItems)="setFilterText($event)">
  </app-filter> -->
</header>
